<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at
  
  http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xmlns:core="http://cxf.apache.org/core"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/core
http://cxf.apache.org/schemas/core.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd">
	<import resource="classpath:/META-INF/cxf/cxf.xml"/>
    
    <jaxrs:server id="bookservice"
                  address="/store1">
        <jaxrs:serviceBeans>
            <ref bean="bookstore"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jackson"/>
        </jaxrs:providers>
    </jaxrs:server>
    
    <jaxrs:server id="bookservice2"
                  address="/store2">
        <jaxrs:serviceBeans>
            <ref bean="bookstore2"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jackson"/>
        </jaxrs:providers>
    </jaxrs:server>
    <core:bus>
       <core:properties>
           <entry key="skip.jakarta.json.providers.registration" value="true"/>
           <entry key="skip.default.json.provider.registration" value="true"/>
       </core:properties>
    </core:bus>
    <core:bus name="cxf1" id="cxf1">
       <core:properties>
           <entry key="skip.jakarta.json.providers.registration" value="true"/>
           <entry key="skip.default.json.provider.registration" value="true"/>
       </core:properties>
    </core:bus>
    
    <jaxrs:server id="genericBookStore"
                  bus="cxf1"
                  address="/genericstore">
        <jaxrs:serviceBeans>
            <ref bean="gBookStore"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jackson"/>
        </jaxrs:providers>
    </jaxrs:server>
    
    <jaxrs:server id="genericBookStore2"
                  address="/genericstore2">
        <jaxrs:serviceBeans>
            <ref bean="gBookStore2"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jackson"/>
        </jaxrs:providers>
    </jaxrs:server>
    
    <jaxrs:server id="genericBookStoreInt1"
                  address="/genericstoreInt1">
        <jaxrs:serviceBeans>
            <ref bean="gBookStoreInt1"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jackson"/>
        </jaxrs:providers>
    </jaxrs:server>
    <jaxrs:server id="genericBookStoreInt2"
                  address="/genericstoreInt2">
        <jaxrs:serviceBeans>
            <ref bean="gBookStoreInt2"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jackson"/>
        </jaxrs:providers>
    </jaxrs:server>
    
    <jaxrs:server id="genericBookStore2type"
                  address="/genericstore2type">
        <jaxrs:serviceBeans>
            <ref bean="gBookStore2"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jackson2"/>
            <ref bean="jaxb"/>
        </jaxrs:providers>
    </jaxrs:server>
    
    <jaxrs:server id="multipart"
    	          address="/multipart">
        <jaxrs:serviceBeans>
            <ref bean="multipartStore"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jackson"/>
        </jaxrs:providers>
    </jaxrs:server>
    
    <bean id="jackson" class="com.fasterxml.jackson.jakarta.rs.json.JacksonJsonProvider"/>
    <bean id="jackson2" class="com.fasterxml.jackson.jakarta.rs.json.JacksonJsonProvider"/>
    <bean id="jaxb" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider">
        <property name="unmarshallAsJaxbElement" value="true"/>
        <property name="marshallAsJaxbElement" value="true"/>
    </bean>
    
    <bean id="bookstore" class="org.apache.cxf.systest.jaxrs.BookStore"/>
    <bean id="bookstore2" class="org.apache.cxf.systest.jaxrs.BookStoreSpring"/>
    <bean id="multipartStore" class="org.apache.cxf.systest.jaxrs.MultipartStore"/>    
    <bean id="gBookStore" class="org.apache.cxf.systest.jaxrs.GenericBookStoreSpring"/>
    <bean id="gBookStore2" class="org.apache.cxf.systest.jaxrs.GenericBookStoreSpring2"/>
    <bean id="gBookStoreInt1" class="org.apache.cxf.systest.jaxrs.GenericBookStoreSpringInt1"/>
    <bean id="gBookStoreInt2" class="org.apache.cxf.systest.jaxrs.GenericBookStoreSpringInt2"/>
</beans>
