<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor 
	license agreements. See the NOTICE file distributed with this work for additional 
	information regarding copyright ownership. The ASF licenses this file to 
	you under the Apache License, Version 2.0 (the "License"); you may not use 
	this file except in compliance with the License. You may obtain a copy of 
	the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:cxf="http://cxf.apache.org/core" 
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd
http://cxf.apache.org/core 
      http://cxf.apache.org/schemas/core.xsd">
	<import resource="classpath:/META-INF/cxf/cxf.xml" />

	<bean id="cors-filter" class="org.apache.cxf.jaxrs.cors.CrossOriginResourceSharingFilter">
		<property name="allowAllOrigins" value="true" />
	</bean>

	<jaxrs:server id="unann-cors-service" address="/untest">
		<jaxrs:serviceBeans>
			<ref bean="unann-cors-server" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="cors-filter" />
		</jaxrs:providers>
		<!-- 
		<jaxrs:features>
			<cxf:logging />
		</jaxrs:features>
		-->
	</jaxrs:server>

	<jaxrs:server id="ann-cors-service" address="/antest">
		<jaxrs:serviceBeans>
			<ref bean="ann-cors-server" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="cors-filter" />
		</jaxrs:providers>
	</jaxrs:server>
	
	<jaxrs:server id="config-service" address="/config">
		<jaxrs:serviceBeans>
			<ref bean="config-server" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
		</jaxrs:providers> 
	</jaxrs:server>

	<bean id="config-server" class="org.apache.cxf.systest.jaxrs.cors.ConfigServer">
		<property name='inputFilter' ref='cors-filter'/>
	</bean>
	<bean id="unann-cors-server" scope="prototype"
		class="org.apache.cxf.systest.jaxrs.cors.UnannotatedCorsServer" />
	<bean id="ann-cors-server" scope="prototype"
		class="org.apache.cxf.systest.jaxrs.cors.AnnotatedCorsServer" />
</beans>
