#################################################################################
#
#    Licensed to the Apache Software Foundation (ASF) under one or more
#    contributor license agreements.  See the NOTICE file distributed with
#    this work for additional information regarding copyright ownership.
#    The ASF licenses this file to You under the Apache License, Version 2.0
#    (the "License"); you may not use this file except in compliance with
#    the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#
################################################################################

# XKMS LDAP backend
xkms.ldap.url=ldap://localhost:2389
xkms.ldap.user=cn=Directory Manager,dc=example,dc=com
xkms.ldap.pwd=test
xkms.ldap.retry=2
xkms.ldap.rootDN=dc=example,dc=com

# LDAP schema
xkms.ldap.schema.certObjectClass=inetOrgPerson
xkms.ldap.schema.attrUID=uid
xkms.ldap.schema.attrIssuerID=manager
xkms.ldap.schema.attrSerialNumber=employeeNumber
xkms.ldap.schema.attrEndpoint=labeledURI
xkms.ldap.schema.attrCrtBinary=userCertificate;binary
xkms.ldap.schema.constAttrNamesCSV=sn
xkms.ldap.schema.constAttrValuesCSV=X509 certificate
xkms.ldap.schema.serviceCertRDNTemplate=cn=%s,ou=services
xkms.ldap.schema.serviceCertUIDTemplate=cn=%s
xkms.ldap.schema.crls=(&(objectClass=inetOrgPerson)(ou:dn:=CAs))
xkms.ldap.schema.trustedAuthorities=(&(objectClass=inetOrgPerson)(ou:dn:=CAs))
xkms.ldap.schema.intermediates=(objectClass=inetOrgPerson)
