.idea/
.mvn/
*.iml
*.ipr
*.iws
.DS_Store
.checkstyle
.classpath
.ekstazi
.pmd
.eclipse-pmd
.project
.ruleset
.settings/
target/
velocity.log
bin/
node_modules/
derby.log
.pmdruleset.xml
.sts4-cache/
**/.factorypath
.vscode/
*.xml.bak
