<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:http="http://cxf.apache.org/transports/http/configuration"
    xmlns:httpj="http://cxf.apache.org/transports/http-jetty/configuration"
    xmlns:sec="http://cxf.apache.org/configuration/security"
    xmlns:interop="http://WSSec/wssec10"
    xmlns:cxf="http://cxf.apache.org/core"
    xmlns:p="http://cxf.apache.org/policy"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd http://cxf.apache.org/policy http://cxf.apache.org/schemas/policy.xsd http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd http://cxf.apache.org/transports/http-jetty/configuration http://cxf.apache.org/schemas/configuration/http-jetty.xsd http://cxf.apache.org/configuration/security http://cxf.apache.org/schemas/configuration/security.xsd">
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer"/>
    <cxf:bus>
        <cxf:features>
            <p:policies/>
            <bean class="org.apache.cxf.ext.logging.LoggingFeature"/>
        </cxf:features>
    </cxf:bus>
    
    <!-- -->
    <!-- Any services listening on port 9009 must use the following -->
    <!-- Transport Layer Security (TLS) settings -->
    <!-- -->
    <httpj:engine-factory id="tls-settings">
        <httpj:engine port="${testutil.ports.Server.2}">
            <httpj:tlsServerParameters>
                <sec:keyManagers keyPassword="password">
                    <sec:keyStore type="jks" password="password" resource="keys/Bethal.jks"/>
                </sec:keyManagers>
                <sec:trustManagers>
                    <sec:keyStore type="jks" password="password" resource="keys/Truststore.jks"/>
                </sec:trustManagers>
                <sec:clientAuthentication want="true" required="true"/>
            </httpj:tlsServerParameters>
        </httpj:engine>
    </httpj:engine-factory>
    
    <bean id="kerberosCallbackHandler" 
          class="org.apache.cxf.systest.kerberos.common.KerberosServicePasswordCallback"/>
    <bean id="doubleItNoSecurity" class="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl">
        <property name="enforcePrincipal" value="false"/>
    </bean>
    
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="SpnegoOverSymmetric" address="http://localhost:${testutil.ports.Server}/DoubleItSpnegoSymmetric" serviceName="s:DoubleItService" endpointName="s:DoubleItSpnegoSymmetricPort" implementor="#doubleItNoSecurity" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/spnego/DoubleItSpnego.wsdl">
        <jaxws:properties>
            <entry key="ws-security.kerberos.jaas.context" value="bob"/>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="SpnegoOverSymmetricDerived" address="http://localhost:${testutil.ports.Server}/DoubleItSpnegoSymmetricDerived" serviceName="s:DoubleItService" endpointName="s:DoubleItSpnegoSymmetricDerivedPort" implementor="#doubleItNoSecurity" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/spnego/DoubleItSpnego.wsdl">
        <jaxws:properties>
            <entry key="ws-security.kerberos.jaas.context" value="bob"/>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="SpnegoOverSymmetricEncryptBeforeSigning" address="http://localhost:${testutil.ports.Server}/DoubleItSpnegoSymmetricEncryptBeforeSigning" serviceName="s:DoubleItService" endpointName="s:DoubleItSpnegoSymmetricEncryptBeforeSigningPort" implementor="#doubleItNoSecurity" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/spnego/DoubleItSpnego.wsdl">
        <jaxws:properties>
            <entry key="ws-security.kerberos.jaas.context" value="bob"/>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="SpnegoOverTransport" address="https://localhost:${testutil.ports.Server.2}/DoubleItSpnegoTransport" serviceName="s:DoubleItService" endpointName="s:DoubleItSpnegoTransportPort" implementor="#doubleItNoSecurity" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/spnego/DoubleItSpnego.wsdl" depends-on="tls-settings">
        <jaxws:properties>
            <entry key="ws-security.kerberos.jaas.context" value="bob"/>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="SpnegoOverTransportEndorsing" address="https://localhost:${testutil.ports.Server.2}/DoubleItSpnegoTransportEndorsing" serviceName="s:DoubleItService" endpointName="s:DoubleItSpnegoTransportEndorsingPort" implementor="#doubleItNoSecurity" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/spnego/DoubleItSpnego.wsdl" depends-on="tls-settings">
        <jaxws:properties>
            <entry key="ws-security.kerberos.jaas.context" value="bob"/>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="SpnegoOverTransportEndorsingSP11" address="https://localhost:${testutil.ports.Server.2}/DoubleItSpnegoTransportEndorsingSP11" serviceName="s:DoubleItService" endpointName="s:DoubleItSpnegoTransportEndorsingSP11Port" implementor="#doubleItNoSecurity" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/spnego/DoubleItSpnego.wsdl" depends-on="tls-settings">
        <jaxws:properties>
            <entry key="ws-security.kerberos.jaas.context" value="bob"/>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="SpnegoOverSymmetricSecureConversation" address="http://localhost:${testutil.ports.Server}/DoubleItSpnegoSymmetricSecureConversation" serviceName="s:DoubleItService" endpointName="s:DoubleItSpnegoSymmetricSecureConversationPort" implementor="#doubleItNoSecurity" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/spnego/DoubleItSpnego.wsdl">
        <jaxws:properties>
            <entry key="ws-security.kerberos.jaas.context" value="bob"/>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
        </jaxws:properties>
    </jaxws:endpoint>
</beans>