<?xml version="1.0" encoding="UTF-8"?>
	<!--
		Licensed to the Apache Software Foundation (ASF) under one or more
		contributor license agreements. See the NOTICE file distributed with
		this work for additional information regarding copyright ownership.
		The ASF licenses this file to you under the Apache License, Version
		2.0 (the "License"); you may not use this file except in compliance
		with the License. You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0 Unless required by
		applicable law or agreed to in writing, software distributed under the
		License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
		CONDITIONS OF ANY KIND, either express or implied. See the License for
		the specific language governing permissions and limitations under the
		License.
	-->
	<!-- START SNIPPET: beans -->
	<!--
		beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:simple="http://cxf.apache.org/simple" xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/simple http://cxf.apache.org/schemas/simple.xsd"
	-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs 
http://cxf.apache.org/schemas/jaxrs.xsd
http://www.springframework.org/schema/util 
http://www.springframework.org/schema/util/spring-util.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id = "atomPullServer" class="org.apache.cxf.management.web.logging.atom.AtomPullServer" 
	      init-method="init">
	      <property name="loggers"
			value="
			org.apache.cxf.systest.jaxrs.JAXRSLoggingAtomPullSpringTest$Resource:ALL,
			namedLogger:WARN" />
		  <property name="bus">
			<ref bean="cxf" />	
		  </property>	
		  <property name="endpointAddress" value="/resource"/>
		  <property name="serverAddress" value="/atom"/>
	</bean>
	
	<bean id = "atomPullServer2" class="org.apache.cxf.management.web.logging.atom.AtomPullServer" 
	      init-method="init">
	      <property name="loggers"
			value="
			org.apache.cxf.systest.jaxrs.JAXRSLoggingAtomPullSpringTest$Resource2:ALL,
			theNamedLogger:WARN" />
		  <property name="pageSize" value="3"/>	
		  	
	</bean>
	
	<bean id = "atomPullServer3" class="org.apache.cxf.management.web.logging.atom.AtomPullServer" 
	      init-method="init">
	      <property name="loggers"
			value="
			org.apache.cxf.systest.jaxrs.JAXRSLoggingAtomPullSpringTest$Resource3:ALL,
			theStorageLogger:WARN" />
		  <property name="pageSize" value="4"/>
		  <property name="maxInMemorySize" value="4"/>	
		  <property name="storage">
			<ref bean="storage" />
		</property>	
	</bean>
	
	<bean id = "atomPullServer4" class="org.apache.cxf.management.web.logging.atom.AtomPullServer" 
	      init-method="init">
	      <property name="loggers"
			value="
			org.apache.cxf.systest.jaxrs.JAXRSLoggingAtomPullSpringTest$Resource4:ALL,
			readOnlyStorageLogger:WARN" />
		  <property name="pageSize" value="4"/>
		  <property name="storage">
			<ref bean="storage2" />
		</property>	
	</bean>      

   	<bean id="storage" class="org.apache.cxf.systest.jaxrs.JAXRSLoggingAtomPullSpringTest$Storage"/> 
   	<bean id="storage2" class="org.apache.cxf.systest.jaxrs.JAXRSLoggingAtomPullSpringTest$ExternalStorage"/> 

	<bean id="feed" class="org.apache.cxf.jaxrs.provider.AtomFeedProvider">
	    <property name="formattedOutput" value="true"/>
	</bean>
	<bean id="entry" class="org.apache.cxf.jaxrs.provider.AtomEntryProvider">
	    <property name="formattedOutput" value="true"/>
	</bean>

	<jaxrs:server id="resourceServer" address="/resource">
		<jaxrs:serviceBeans>
			<bean class="org.apache.cxf.systest.jaxrs.JAXRSLoggingAtomPullSpringTest$Resource"/>
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="feed" />
		</jaxrs:providers>
	</jaxrs:server>
	
	<jaxrs:server id="resource2Server" address="/resource2">
		<jaxrs:serviceBeans>
			<bean class="org.apache.cxf.systest.jaxrs.JAXRSLoggingAtomPullSpringTest$Resource2"/>
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="feed" />
		</jaxrs:providers>
	</jaxrs:server>
	
	<jaxrs:server id="resource3Server" address="/resource3">
		<jaxrs:serviceBeans>
			<bean class="org.apache.cxf.systest.jaxrs.JAXRSLoggingAtomPullSpringTest$Resource3"/>
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="feed" />
		</jaxrs:providers>
	</jaxrs:server>

    <jaxrs:server id="atomServer" address="/atom">
		<jaxrs:serviceBeans>
			<ref bean="atomPullServer"/>
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="feed" />
			<ref bean="entry" />
		</jaxrs:providers>
	</jaxrs:server>
	
	<jaxrs:server id="atomServer2" address="/atom2">
		<jaxrs:serviceBeans>
			<ref bean="atomPullServer2"/>
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="feed" />
		</jaxrs:providers>
	</jaxrs:server>
	
	<jaxrs:server id="atomServer3" address="/atom3">
		<jaxrs:serviceBeans>
			<ref bean="atomPullServer3"/>
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="feed" />
		</jaxrs:providers>
	</jaxrs:server>
	
	<jaxrs:server id="atomServer4" address="/atom4">
		<jaxrs:serviceBeans>
			<ref bean="atomPullServer4"/>
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="feed" />
		</jaxrs:providers>
	</jaxrs:server>
    
    
    <jaxrs:server id="atomReset" address="/reset">
		<jaxrs:serviceBeans>
			<ref bean="atomServerReset"/>
		</jaxrs:serviceBeans>
	</jaxrs:server>

    <bean id="atomServerReset" class="org.apache.cxf.systest.jaxrs.JAXRSLoggingAtomPullSpringTest$AtomServerReset">
        <property name="server" ref="atomPullServer2"/>
    </bean>
    
</beans>
<!-- END SNIPPET: beans -->

