a {
   cursor: pointer;
}

.topbarLink {
   width: 5em;
}

.topbarLink > a {
   color:#00C;
   text-decoration: underline;
   padding-top: 2px;
   padding-right: 10px;
}

.selectableTableRow {
   cursor: pointer;
}

.navigationSidebarSlot > div {
    position: absolute !important;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.viewerSlot > div {
    position: absolute !important;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}


/** Error Dialog **/

.errorDialog {
  background: none;
  border: none;
  padding: 10px;
  width: 600px;
  color: #FFFFFF;
  font-size: 15px;
  font-family: verdana;
}

.errorDialogGlass {
  opacity: 0.75;
}

@if user.agent safari {

  .errorDialogGlass {
    opacity: 0.80;
  }
}

@if user.agent ie6 ie8 {

  /* IE just doesn't do opacity the way we want, make our dialog
   * stand out in a way that it can't be missed against the page
   */
  .errorDialog {
    color: black;
    background: darkgray;
    border: 10px groove lightgrey;
  }
}

.errorDialogTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.errorDialogErrorType {
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 15px;
}

.errorDialogButtons {
  width: 100%;
  margin-top: 15px;
}

/* Browser tab styles */

@sprite .browserTabLoadingMessage {
    gwt-image: "loader";
    background-repeat:no-repeat;
    background-position:left;
    color:grey;
    font-size:large;
    margin-top:1em;
    text-align:right;
    margin-left:auto;
    margin-right:auto;
    width:5.7em;
    height:100%;
}

.browserTabNoEntriesMessage {
    color:grey;
    font-size:large;
    height:auto;
    margin-top:1em;
    text-align:center;
}

.browserTabSelectedRow {
    background: #adcce7;
}

.browserTabSelectedRow td {
    border-top: 1px solid #88a4d6;
    border-bottom: 1px solid #7b97d0;
}

.browserTabManageSubscriptionsButton {
    font-size: 11px;
    color: #3366CC;
    margin-left: 0.7em;
}

.browserTabToolBar {
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
}

.browserTabEntryTableHeaders {
    background: #E3E8F3 url(gwt/standard/images/hborder.png) repeat-x scroll 0 -2003px;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #BBCDF3;
    border-top: 3px solid #BBCDF3;
}

.browserTabEntryTableHeaders td {
    text-shadow: #fff 0 2px 2px;
    padding: 2px 0 1px 10px;
}

.browserTabEntrySelectableTable {
    table-layout: fixed;
    width: 100%;
}

.browserTabEntrySelectableTable table {
    width: 100%;
}

.browserTabEntrySelectableTable td {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 2px 0 2px 10px;
}

.sidebarItem {
   margin-top: 2px;
   margin-bottom: 5px;
   padding-left:10px;
   white-space:nowrap;
}

.sidebarHeader {
   color:#666;
   text-transform:uppercase;
   letter-spacing:1px;
   font-size: x-small;
   border-bottom-style:solid;
   border-bottom-color:#666;
   border-width:1px;
   margin-top: 10px;
   margin-bottom: 5px;
   white-space:nowrap;
}

.browserTabSubscriptionsSideBar {
    border-right: 1px solid #999999;
}

.browserTabSubscriptionsHeader {
    background: #E3E8F3 url(gwt/standard/images/hborder.png) repeat-x scroll 0 -2003px;
    border-bottom: 2px solid #BBCDF3;
    border-top: 3px solid #BBCDF3;
    padding-left:0.7em;
    padding-top:0.25em;
    padding-bottom:0.2em;
}

.browserTabEntryDetailsSection {
    border: 1px solid #999999;
}

.browserTabEntryDetailsContent {
    white-space:pre-wrap;
    line-height: 150%;
    padding: 20px 40px 20px 10px;
    font-family: monospace, serif;
}

.browserTabNavigationLink {
    margin: 0 8px;
}

/* Settings tab styles */

.settingsTabHeader {
    background: #FFCC66 none repeat scroll 0 0;
    padding:0.3em;
    margin-top:0.5em;
}

.settingsTabBackButton {
    margin-top: 0.5em;
    display:inline;
}

.settingsTabTitle {
    font-size: 140%;
    margin: 0.1em 1.5em 0 0.3em;
    font-weight: bold;
    display:inline;
}

.settingsTabToolBar {
    padding-left:1em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    background-color:#FFEDA3;
}

.settingsTabContent {
    background-color:#FFF7D7;
}

.settingsTabFeedList {
    width:100%;
    padding:0.5em;
}

/*  Feed's entry (in settings tab) styles */

.feedEntry {
    border-bottom:1px solid #FFCC66;
    padding-bottom:0.5em;
    width:100%;
}

.feedEntryNameLabel {
    font-weight: bold;
}

.feedEntryUrlLabel {
    color: gray;
    float: left;
}

.feedEntryButtons {
    text-align:right;
    vertical-align:center;
}

.feedEntryRemoveButton {
}

.feedEntryEditButton {
    margin-left: 0.5em;
    margin-right: 1em;
}

/* Edit feed dialog styles */

.editFeedDialogAddButton {
    margin:0.4em;
}

.editFeedDialogButtons {
    text-align:right;
}

.editFeedDialogErrorMessage {
    color:red;
}


