<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at
  
  http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<!-- START SNIPPET: beans -->
<!--beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:simple="http://cxf.apache.org/simple"
  xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://cxf.apache.org/simple http://cxf.apache.org/schemas/simple.xsd"-->
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xmlns:cxf="http://cxf.apache.org/core"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/util 
http://www.springframework.org/schema/util/spring-util-2.0.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd
http://cxf.apache.org/core
http://cxf.apache.org/schemas/core.xsd">

  <import resource="classpath:META-INF/cxf/cxf.xml" />
  <import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

  <bean class="org.apache.cxf.systest.jaxrs.BookStoreSpring" id="serviceBean"/>
  
  <bean class="org.apache.cxf.systest.jaxrs.sdo.SDOResource" id="sdoBean"/>
  
  <jaxrs:server id="jaxbbook" address="/jaxb">
    <jaxrs:serviceBeans>
      <ref bean="serviceBean" />
    </jaxrs:serviceBeans>		   
    <jaxrs:dataBinding> 
      <bean class="org.apache.cxf.jaxb.JAXBDataBinding"/>
    </jaxrs:dataBinding> 
  </jaxrs:server>
  <jaxrs:server id="aegisbook" address="/aegis">
    <jaxrs:serviceBeans>
      <ref bean="serviceBean" />
    </jaxrs:serviceBeans>		   
    <jaxrs:dataBinding> 
      <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding">
          <property name="aegisContext">
              <bean class="org.apache.cxf.aegis.AegisContext">
                  <property name="writeXsiTypes" value="true"/>
              </bean>
          </property>    
        </bean> 
    </jaxrs:dataBinding> 
  </jaxrs:server>
  
  
  <jaxrs:server id="sdo" address="/sdo">
    <jaxrs:serviceBeans>
      <ref bean="sdoBean" />
    </jaxrs:serviceBeans>		   
    <jaxrs:dataBinding> 
      <ref bean="sdoDatabinding"/>
    </jaxrs:dataBinding> 
    <jaxrs:providers>
      <ref bean="jsonSdoBean" />
    </jaxrs:providers>
  </jaxrs:server>

  <bean id="sdoDatabinding" class="org.apache.cxf.sdo.SDODataBinding"/>
  <bean id="jsonSdoBean" class="org.apache.cxf.jaxrs.provider.DataBindingJSONProvider">
      <property name="dataBinding" ref="sdoDatabinding"/>
      <property name="namespaceMap" ref="jsonNamespaceMap"/>
  </bean>

  <util:map id="jsonNamespaceMap" map-class="java.util.Hashtable">
       <entry key="http://apache.org/structure/types" value="p0"/>
  </util:map>

</beans>
<!-- END SNIPPET: beans -->
