<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<!--
	Licensed to the Apache Software Foundation (ASF) under one
	or more contributor license agreements. See the NOTICE file
	distributed with this work for additional information
	regarding copyright ownership. The ASF licenses this file
	to you under the Apache License, Version 2.0 (the
	"License"); you may not use this file except in compliance
	with the License. You may obtain a copy of the License at
	
	http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing,
	software distributed under the License is distributed on an
	"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
	KIND, either express or implied. See the License for the
	specific language governing permissions and limitations
	under the License.
-->
<!-- START SNIPPET: webxml -->
<web-app>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/beans.xml</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<display-name>CXFServlet</display-name>
		<servlet-class>
			org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
			<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
		<load-on-startup>1</load-on-startup>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CXFServletV1</servlet-name>
		<display-name>CXFServletV1</display-name>
		<servlet-class>
			org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
		<!-- 
		   If redirects-list is not provided and 
		   only redirect-servlet-path or redirect-servlet-name is set then
		   this servlet will only redirect
		-->    
		<init-param>
    		<param-name>redirects-list</param-name>
	    	<param-value>
	    	    /rest-transform/.*
	    	</param-value>
	    </init-param>
	    <init-param>
    		<param-name>redirect-servlet-path</param-name>
	    	<param-value>/v2</param-value>
	    </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServletV1</servlet-name>
		<url-pattern>/v1/*</url-pattern>
		<load-on-startup>1</load-on-startup>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CXFServletV2</servlet-name>
		<display-name>CXFServletV2</display-name>
		<servlet-class>
			org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
		<!-- 
		     thread safe access to multiple destinations via
		     a single CXF servlet, in this case older clients
		     accessing CXFServlet listening on /v1 are redirected to
		     this servlet which is also serving the new clients directly
		     accessing /v2 
		-->
		<init-param>
		      <param-name>disable-address-updates</param-name>
		      <param-value>true</param-value>    
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServletV2</servlet-name>
		<url-pattern>/v2/*</url-pattern>
	</servlet-mapping>
</web-app>
<!-- END SNIPPET: webxml -->