<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:http="http://cxf.apache.org/transports/http/configuration"
    xmlns:httpj="http://cxf.apache.org/transports/http-jetty/configuration"
    xmlns:sec="http://cxf.apache.org/configuration/security"
    xmlns:interop="http://WSSec/wssec10"
    xmlns:cxf="http://cxf.apache.org/core"
    xmlns:p="http://cxf.apache.org/policy"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd http://cxf.apache.org/policy http://cxf.apache.org/schemas/policy.xsd http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd http://cxf.apache.org/transports/http-jetty/configuration http://cxf.apache.org/schemas/configuration/http-jetty.xsd http://cxf.apache.org/configuration/security http://cxf.apache.org/schemas/configuration/security.xsd http://www.w3.org/ns/ws-policy http://www.w3.org/2007/02/ws-policy.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer"/>
    <cxf:bus>
        <cxf:features>
            <p:policies/>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>
    <!-- -->
    <!-- Any services listening on port 9009 must use the following -->
    <!-- Transport Layer Security (TLS) settings -->
    <!-- -->
    <httpj:engine-factory id="tls-settings">
        <httpj:engine port="${testutil.ports.Server.2}">
            <httpj:tlsServerParameters>
                <sec:keyManagers keyPassword="password">
                    <sec:keyStore type="jks" password="password" resource="keys/Bethal.jks"/>
                </sec:keyManagers>
                <sec:trustManagers>
                    <sec:keyStore type="jks" password="password" resource="keys/Truststore.jks"/>
                </sec:trustManagers>
                <sec:clientAuthentication want="true" required="true"/>
            </httpj:tlsServerParameters>
        </httpj:engine>
    </httpj:engine-factory>
    
    <bean id="kerberosCallbackHandler" 
          class="org.apache.cxf.systest.kerberos.common.KerberosServicePasswordCallback"/>
    <bean id="doubleItNoSecurity" class="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl">
        <property name="enforcePrincipal" value="false"/>
    </bean>
          
    <bean id="kerberosValidator" class="org.apache.wss4j.dom.validate.KerberosTokenValidator">
        <property name="contextName" value="bob"/>
        <property name="serviceName" value="bob@service.ws.apache.org"/>
        <property name="callbackHandler" ref="kerberosCallbackHandler"/>
    </bean>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosOverTransport" address="https://localhost:${testutil.ports.Server.2}/DoubleItKerberosTransport" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosTransportPort" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl" depends-on="tls-settings">
        <jaxws:properties>
            <entry key="ws-security.is-bsp-compliant" value="false"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosOverTransport2" address="https://localhost:${testutil.ports.Server.2}/DoubleItKerberosTransport2" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosTransportPort2" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl" depends-on="tls-settings">
        <jaxws:properties>
            <entry key="ws-security.is-bsp-compliant" value="false"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
        </jaxws:properties>
    </jaxws:endpoint>
    
    <bean id="kerberosCallbackHandler2" 
          class="org.apache.cxf.systest.kerberos.common.KerberosServicePasswordCallback">
         <property name="username" value="dave"/>
         <property name="password" value="dave"/>
    </bean>
    
    <bean id="kerberosValidator2" class="org.apache.wss4j.dom.validate.KerberosTokenValidator">
        <property name="contextName" value="dave"/>
        <property name="serviceName" value="dave/service.ws.apache.org@service.ws.apache.org"/>
        <property name="usernameServiceNameForm" value="true"/>
        <property name="callbackHandler" ref="kerberosCallbackHandler2"/>
    </bean>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosOverTransport3" address="https://localhost:${testutil.ports.Server.2}/DoubleItKerberosTransport3" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosTransportPort3" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl" depends-on="tls-settings">
        <jaxws:properties>
            <entry key="ws-security.is-bsp-compliant" value="false"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator2"/>
        </jaxws:properties>
    </jaxws:endpoint>
    
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosOverSymmetric" address="http://localhost:${testutil.ports.Server}/DoubleItKerberosSymmetric" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosSymmetricPort" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl">
        <jaxws:properties>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosOverSymmetricSupporting" address="http://localhost:${testutil.ports.Server}/DoubleItKerberosSymmetricSupporting" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosSymmetricSupportingPort" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl">
        <jaxws:properties>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosSupporting" address="http://localhost:${testutil.ports.Server}/DoubleItKerberosSupporting" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosSupportingPort" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl">
        <jaxws:properties>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosOverAsymmetric" address="http://localhost:${testutil.ports.Server}/DoubleItKerberosAsymmetric" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosAsymmetricPort" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl">
        <jaxws:properties>
            <entry key="security.username" value="bob"/>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="security.encryption.properties" value="alice.properties"/>
            <entry key="security.encryption.username" value="alice"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
            <entry key="ws-security.is-bsp-compliant" value="false"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosOverTransportEndorsing" address="https://localhost:${testutil.ports.Server.2}/DoubleItKerberosTransportEndorsing" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosTransportEndorsingPort" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl" depends-on="tls-settings">
        <jaxws:properties>
            <entry key="ws-security.is-bsp-compliant" value="false"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosOverAsymmetricEndorsing" address="http://localhost:${testutil.ports.Server}/DoubleItKerberosAsymmetricEndorsing" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosAsymmetricEndorsingPort" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl">
        <jaxws:properties>
            <entry key="security.username" value="bob"/>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="security.encryption.properties" value="alice.properties"/>
            <entry key="security.encryption.username" value="alice"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
            <entry key="ws-security.is-bsp-compliant" value="false"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosOverSymmetricProtection" address="http://localhost:${testutil.ports.Server}/DoubleItKerberosSymmetricProtection" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosSymmetricProtectionPort" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl">
        <jaxws:properties>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosOverSymmetricDerivedProtection" address="http://localhost:${testutil.ports.Server}/DoubleItKerberosSymmetricDerivedProtection" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosSymmetricDerivedProtectionPort" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl">
        <jaxws:properties>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosOverAsymmetricSignedEndorsing" address="http://localhost:${testutil.ports.Server}/DoubleItKerberosAsymmetricSignedEndorsing" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosAsymmetricSignedEndorsingPort" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl">
        <jaxws:properties>
            <entry key="security.username" value="bob"/>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="security.encryption.properties" value="alice.properties"/>
            <entry key="security.encryption.username" value="alice"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
            <entry key="ws-security.is-bsp-compliant" value="false"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosOverAsymmetricSignedEncrypted" address="http://localhost:${testutil.ports.Server}/DoubleItKerberosAsymmetricSignedEncrypted" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosAsymmetricSignedEncryptedPort" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl">
        <jaxws:properties>
            <entry key="security.username" value="bob"/>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="security.encryption.properties" value="alice.properties"/>
            <entry key="security.encryption.username" value="alice"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
            <entry key="ws-security.is-bsp-compliant" value="false"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosOverSymmetricEndorsingEncrypted" address="http://localhost:${testutil.ports.Server}/DoubleItKerberosSymmetricEndorsingEncrypted" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosSymmetricEndorsingEncryptedPort" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl">
        <jaxws:properties>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosOverSymmetricSignedEndorsingEncrypted" address="http://localhost:${testutil.ports.Server}/DoubleItKerberosSymmetricSignedEndorsingEncrypted" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosSymmetricSignedEndorsingEncryptedPort" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl">
        <jaxws:properties>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
        </jaxws:properties>
    </jaxws:endpoint>
    
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="KerberosOverSymmetricSecureConversation" address="http://localhost:${testutil.ports.Server}/DoubleItKerberosSymmetricSecureConversation" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosSymmetricSecureConversationPort" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl">
        <jaxws:properties>
            <entry key="security.callback-handler" value-ref="kerberosCallbackHandler"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
        </jaxws:properties>
    </jaxws:endpoint>
    
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="doubleittransportsaml2" implementor="#doubleItNoSecurity" endpointName="s:DoubleItTransportSAML2Port" serviceName="s:DoubleItService" depends-on="STSClientAuthHttpsSettings" address="https://localhost:${testutil.ports.Server.3}/doubleit/services/doubleittransportsaml2" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl">
        <jaxws:properties>
            <entry key="security.callback-handler" value="org.apache.cxf.systest.kerberos.common.KeystorePasswordCallback"/>
            <entry key="security.signature.properties" value="serviceKeystore.properties"/>
        </jaxws:properties>
    </jaxws:endpoint>
    
    <bean class="javax.xml.namespace.QName" id="bstQName">
        <constructor-arg value="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
        <constructor-arg value="BinarySecurityToken"/>
    </bean>
    
    <util:map id="kerberosValidatorMap">
        <entry key-ref="bstQName" value-ref="kerberosValidator" />
    </util:map>
    
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="DoubleItKerberosTransportActionPort" address="https://localhost:${testutil.ports.Server.2}/DoubleItKerberosTransportAction" serviceName="s:DoubleItService" endpointName="s:DoubleItKerberosTransportActionPort" implementor="org.apache.cxf.systest.kerberos.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/kerberos/wssec/kerberos/DoubleItKerberos.wsdl" depends-on="tls-settings">
        <jaxws:inInterceptors>
            <bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
                <constructor-arg>
                    <map>
                        <entry key="validatorMap" value-ref="kerberosValidatorMap"/>
                    </map>
                </constructor-arg>
                <property name="ignoreActions" value="true"/>
            </bean>
        </jaxws:inInterceptors>
    </jaxws:endpoint>
    
    <httpj:engine-factory id="STSClientAuthHttpsSettings" bus="cxf">
        <httpj:engine port="${testutil.ports.Server.3}">
            <httpj:tlsServerParameters>
                <sec:keyManagers keyPassword="skpass">
                    <sec:keyStore type="jks" password="sspass" resource="keys/servicestore.jks"/>
                </sec:keyManagers>
                <sec:clientAuthentication want="false" required="false"/>
            </httpj:tlsServerParameters>
        </httpj:engine>
    </httpj:engine-factory>
</beans>