<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at
  
  http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<!-- START SNIPPET: beans -->
<!--beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:simple="http://cxf.apache.org/simple"
  xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://cxf.apache.org/simple http://cxf.apache.org/schemas/simple.xsd"-->
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd">

  <import resource="classpath:META-INF/cxf/cxf.xml" />
  <import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
  
  <jaxrs:server id="atomservice"
		        address="/bookstore" 
		        staticSubresourceResolution="true">
    <jaxrs:serviceBeans>
      <ref bean="atomstore"/>
    </jaxrs:serviceBeans>
    <jaxrs:providers>
        <ref bean="feed"/>
        <ref bean="entry"/>
    </jaxrs:providers>	
    <jaxrs:extensionMappings>
      <entry key="json" value="application/json"/>
    </jaxrs:extensionMappings>		   
  </jaxrs:server>
  
  <jaxrs:server id="atomservice2"
		        address="/sub" 
		        staticSubresourceResolution="true">
    <jaxrs:serviceBeans>
      <ref bean="atomstore2"/>
    </jaxrs:serviceBeans>
    <jaxrs:providers>
        <ref bean="feed"/>
        <ref bean="entry"/>
    </jaxrs:providers>	
    <jaxrs:extensionMappings>
      <entry key="json" value="application/json"/>
    </jaxrs:extensionMappings>	
  </jaxrs:server>
  
  <jaxrs:server id="atomservice3"
		        address="/">
    <jaxrs:serviceBeans>
      <ref bean="atomstore3"/>
    </jaxrs:serviceBeans>
    <jaxrs:providers>
        <ref bean="feed"/>
        <ref bean="entry"/>
    </jaxrs:providers>	
    <jaxrs:extensionMappings>
      <entry key="json" value="application/json"/>
    </jaxrs:extensionMappings>	
    <jaxrs:properties>
       <entry key="org.apache.cxf.output.buffering" value="true"/>
    </jaxrs:properties>
  </jaxrs:server>
  
  <bean id="atomstore" class="org.apache.cxf.systest.jaxrs.AtomBookStore"/>
  <bean id="atomstore2" class="org.apache.cxf.systest.jaxrs.AtomBookStore2"/>
  <bean id="atomstore3" class="org.apache.cxf.systest.jaxrs.AtomBookStore3"/>
  
  <bean id="feed" class="org.apache.cxf.jaxrs.provider.AtomFeedProvider"/>
  <bean id="entry" class="org.apache.cxf.jaxrs.provider.AtomEntryProvider"/>
  
</beans>
<!-- END SNIPPET: beans -->

