<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:http="http://cxf.apache.org/transports/http/configuration"
    xmlns:httpj="http://cxf.apache.org/transports/http-jetty/configuration"
    xmlns:sec="http://cxf.apache.org/configuration/security"
    xmlns:security="http://schemas.iona.com/soa/security-config"
    xmlns:interop="http://WSSec/wssec10"
    xmlns:cxf="http://cxf.apache.org/core"
    xmlns:p="http://cxf.apache.org/policy"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans                     http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws                                     http://cxf.apache.org/schemas/jaxws.xsd
        http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
        http://cxf.apache.org/policy http://cxf.apache.org/schemas/policy.xsd
        http://cxf.apache.org/transports/http/configuration             http://cxf.apache.org/schemas/configuration/http-conf.xsd
        http://cxf.apache.org/transports/http-jetty/configuration       http://cxf.apache.org/schemas/configuration/http-jetty.xsd
        http://cxf.apache.org/configuration/security                    http://cxf.apache.org/schemas/configuration/security.xsd
        http://schemas.iona.com/soa/security-config                     http://schemas.iona.com/soa/security-config.xsd
    ">
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>
    
    <cxf:bus>
        <cxf:features>
            <p:policies/>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>

    <!-- -->
    <!-- Any services listening on port 9009 must use the following -->
    <!-- Transport Layer Security (TLS) settings -->
    <!-- -->
    <httpj:engine-factory id="tls-settings">
        <httpj:engine port="${testutil.ports.Server.2}">
            <httpj:tlsServerParameters>
                <sec:keyManagers keyPassword="password">
                    <sec:keyStore type="jks" password="password" resource="org/apache/cxf/systest/ws/security/Bethal.jks"/>
                </sec:keyManagers>
                <sec:trustManagers>
                    <sec:keyStore type="jks" password="password" resource="org/apache/cxf/systest/ws/security/Truststore.jks"/>
                </sec:trustManagers> 
                <sec:cipherSuitesFilter>
                    <sec:include>.*_EXPORT_.*</sec:include>
                    <sec:include>.*_EXPORT1024_.*</sec:include>
                    <sec:include>.*_WITH_DES_.*</sec:include>
                    <sec:include>.*_WITH_NULL_.*</sec:include>
                    <sec:exclude>.*_DH_anon_.*</sec:exclude>
                </sec:cipherSuitesFilter>
                <sec:clientAuthentication want="true" required="true"/>
            </httpj:tlsServerParameters>
        </httpj:engine>
    </httpj:engine-factory>
    
    <!--<bean id="kerberosTicketDecoderImpl" 
          class="org.apache.cxf.systest.ws.kerberos.server.KerberosTokenDecoderImpl"/>-->
    
    <bean id="kerberosValidator"
        class="org.apache.ws.security.validate.KerberosTokenValidator">
        <property name="contextName" value="bob"/>
        <property name="serviceName" value="bob@service.ws.apache.org"/>
        <!--<property name="kerberosTokenDecoder" ref="kerberosTicketDecoderImpl"/>-->
    </bean> 
    
    <jaxws:endpoint 
       id="KerberosOverTransport"
       address="https://localhost:${testutil.ports.Server.2}/DoubleItKerberosTransport" 
       serviceName="s:DoubleItService"
       endpointName="s:DoubleItKerberosTransportPort"
       xmlns:s="http://WSSec/kerberos"
       implementor="org.apache.cxf.systest.ws.kerberos.server.DoubleItImpl"
       wsdlLocation="wsdl_systest_wssec/kerberos/DoubleItKerberos.wsdl"
       depends-on="tls-settings">
        
       <jaxws:properties>
           <entry key="ws-security.is-bsp-compliant" value="false"/>
           <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
       </jaxws:properties> 
     
    </jaxws:endpoint> 
    
    <jaxws:endpoint 
       id="KerberosOverSymmetric"
       address="http://localhost:${testutil.ports.Server}/DoubleItKerberosSymmetric" 
       serviceName="s:DoubleItService"
       endpointName="s:DoubleItKerberosSymmetricPort"
       xmlns:s="http://WSSec/kerberos"
       implementor="org.apache.cxf.systest.ws.kerberos.server.DoubleItImpl"
       wsdlLocation="wsdl_systest_wssec/kerberos/DoubleItKerberos.wsdl">
        
       <jaxws:properties>
           <entry key="ws-security.callback-handler" 
                  value="org.apache.cxf.systest.ws.wssec10.client.KeystorePasswordCallback"/>
           <entry key="ws-security.signature.properties" 
                  value="org/apache/cxf/systest/ws/wssec10/client/bob.properties"/> 
           <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
       </jaxws:properties> 
     
    </jaxws:endpoint> 
    
    <jaxws:endpoint 
       id="KerberosOverSymmetricSupporting"
       address="http://localhost:${testutil.ports.Server}/DoubleItKerberosSymmetricSupporting" 
       serviceName="s:DoubleItService"
       endpointName="s:DoubleItKerberosSymmetricSupportingPort"
       xmlns:s="http://WSSec/kerberos"
       implementor="org.apache.cxf.systest.ws.kerberos.server.DoubleItImpl"
       wsdlLocation="wsdl_systest_wssec/kerberos/DoubleItKerberos.wsdl">
        
       <jaxws:properties>
           <entry key="ws-security.callback-handler" 
                  value="org.apache.cxf.systest.ws.wssec10.client.KeystorePasswordCallback"/>
           <entry key="ws-security.signature.properties" 
                  value="org/apache/cxf/systest/ws/wssec10/client/bob.properties"/> 
           <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
       </jaxws:properties> 
     
    </jaxws:endpoint> 
    
    <jaxws:endpoint 
       id="KerberosOverAsymmetric"
       address="http://localhost:${testutil.ports.Server}/DoubleItKerberosAsymmetric" 
       serviceName="s:DoubleItService"
       endpointName="s:DoubleItKerberosAsymmetricPort"
       xmlns:s="http://WSSec/kerberos"
       implementor="org.apache.cxf.systest.ws.kerberos.server.DoubleItImpl"
       wsdlLocation="wsdl_systest_wssec/kerberos/DoubleItKerberos.wsdl">
        
       <jaxws:properties>
           <entry key="ws-security.username" value="bob"/>
           <entry key="ws-security.callback-handler" 
                  value="org.apache.cxf.systest.ws.wssec10.client.KeystorePasswordCallback"/>
           <entry key="ws-security.signature.properties" 
                  value="org/apache/cxf/systest/ws/wssec10/client/bob.properties"/> 
           <entry key="ws-security.encryption.properties" 
                  value="org/apache/cxf/systest/ws/wssec10/client/alice.properties"/> 
           <entry key="ws-security.encryption.username" value="alice"/>
           <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
           <entry key="ws-security.is-bsp-compliant" value="false"/>
       </jaxws:properties> 
     
    </jaxws:endpoint> 
    
    <jaxws:endpoint 
       id="KerberosOverTransportEndorsing"
       address="https://localhost:${testutil.ports.Server.2}/DoubleItKerberosTransportEndorsing" 
       serviceName="s:DoubleItService"
       endpointName="s:DoubleItKerberosTransportEndorsingPort"
       xmlns:s="http://WSSec/kerberos"
       implementor="org.apache.cxf.systest.ws.kerberos.server.DoubleItImpl"
       wsdlLocation="wsdl_systest_wssec/kerberos/DoubleItKerberos.wsdl"
       depends-on="tls-settings">
        
       <jaxws:properties>
           <entry key="ws-security.is-bsp-compliant" value="false"/>
           <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
       </jaxws:properties> 
     
    </jaxws:endpoint> 
    
    <jaxws:endpoint 
       id="KerberosOverAsymmetricEndorsing"
       address="http://localhost:${testutil.ports.Server}/DoubleItKerberosAsymmetricEndorsing" 
       serviceName="s:DoubleItService"
       endpointName="s:DoubleItKerberosAsymmetricEndorsingPort"
       xmlns:s="http://WSSec/kerberos"
       implementor="org.apache.cxf.systest.ws.kerberos.server.DoubleItImpl"
       wsdlLocation="wsdl_systest_wssec/kerberos/DoubleItKerberos.wsdl">
        
       <jaxws:properties>
           <entry key="ws-security.username" value="bob"/>
           <entry key="ws-security.callback-handler" 
                  value="org.apache.cxf.systest.ws.wssec10.client.KeystorePasswordCallback"/>
           <entry key="ws-security.signature.properties" 
                  value="org/apache/cxf/systest/ws/wssec10/client/bob.properties"/> 
           <entry key="ws-security.encryption.properties" 
                  value="org/apache/cxf/systest/ws/wssec10/client/alice.properties"/> 
           <entry key="ws-security.encryption.username" value="alice"/>
           <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
           <entry key="ws-security.is-bsp-compliant" value="false"/>
       </jaxws:properties> 
     
    </jaxws:endpoint>
    
    <jaxws:endpoint 
       id="KerberosOverSymmetricProtection"
       address="http://localhost:${testutil.ports.Server}/DoubleItKerberosSymmetricProtection" 
       serviceName="s:DoubleItService"
       endpointName="s:DoubleItKerberosSymmetricProtectionPort"
       xmlns:s="http://WSSec/kerberos"
       implementor="org.apache.cxf.systest.ws.kerberos.server.DoubleItImpl"
       wsdlLocation="wsdl_systest_wssec/kerberos/DoubleItKerberos.wsdl">
        
       <jaxws:properties>
           <entry key="ws-security.callback-handler" 
                  value="org.apache.cxf.systest.ws.wssec10.client.KeystorePasswordCallback"/>
           <entry key="ws-security.signature.properties" 
                  value="org/apache/cxf/systest/ws/wssec10/client/bob.properties"/> 
           <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
       </jaxws:properties> 
     
    </jaxws:endpoint>  
    
    <jaxws:endpoint 
       id="KerberosOverSymmetricDerivedProtection"
       address="http://localhost:${testutil.ports.Server}/DoubleItKerberosSymmetricDerivedProtection" 
       serviceName="s:DoubleItService"
       endpointName="s:DoubleItKerberosSymmetricDerivedProtectionPort"
       xmlns:s="http://WSSec/kerberos"
       implementor="org.apache.cxf.systest.ws.kerberos.server.DoubleItImpl"
       wsdlLocation="wsdl_systest_wssec/kerberos/DoubleItKerberos.wsdl">
        
       <jaxws:properties>
           <entry key="ws-security.callback-handler" 
                  value="org.apache.cxf.systest.ws.wssec10.client.KeystorePasswordCallback"/>
           <entry key="ws-security.signature.properties" 
                  value="org/apache/cxf/systest/ws/wssec10/client/bob.properties"/> 
           <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
       </jaxws:properties> 
     
    </jaxws:endpoint>  
    
    <jaxws:endpoint 
       id="KerberosOverAsymmetricSignedEndorsing"
       address="http://localhost:${testutil.ports.Server}/DoubleItKerberosAsymmetricSignedEndorsing" 
       serviceName="s:DoubleItService"
       endpointName="s:DoubleItKerberosAsymmetricSignedEndorsingPort"
       xmlns:s="http://WSSec/kerberos"
       implementor="org.apache.cxf.systest.ws.kerberos.server.DoubleItImpl"
       wsdlLocation="wsdl_systest_wssec/kerberos/DoubleItKerberos.wsdl">
        
       <jaxws:properties>
           <entry key="ws-security.username" value="bob"/>
           <entry key="ws-security.callback-handler" 
                  value="org.apache.cxf.systest.ws.wssec10.client.KeystorePasswordCallback"/>
           <entry key="ws-security.signature.properties" 
                  value="org/apache/cxf/systest/ws/wssec10/client/bob.properties"/> 
           <entry key="ws-security.encryption.properties" 
                  value="org/apache/cxf/systest/ws/wssec10/client/alice.properties"/> 
           <entry key="ws-security.encryption.username" value="alice"/>
           <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
           <entry key="ws-security.is-bsp-compliant" value="false"/>
       </jaxws:properties> 
     
    </jaxws:endpoint>
    
    <jaxws:endpoint 
       id="KerberosOverAsymmetricSignedEncrypted"
       address="http://localhost:${testutil.ports.Server}/DoubleItKerberosAsymmetricSignedEncrypted" 
       serviceName="s:DoubleItService"
       endpointName="s:DoubleItKerberosAsymmetricSignedEncryptedPort"
       xmlns:s="http://WSSec/kerberos"
       implementor="org.apache.cxf.systest.ws.kerberos.server.DoubleItImpl"
       wsdlLocation="wsdl_systest_wssec/kerberos/DoubleItKerberos.wsdl">
        
       <jaxws:properties>
           <entry key="ws-security.username" value="bob"/>
           <entry key="ws-security.callback-handler" 
                  value="org.apache.cxf.systest.ws.wssec10.client.KeystorePasswordCallback"/>
           <entry key="ws-security.signature.properties" 
                  value="org/apache/cxf/systest/ws/wssec10/client/bob.properties"/> 
           <entry key="ws-security.encryption.properties" 
                  value="org/apache/cxf/systest/ws/wssec10/client/alice.properties"/> 
           <entry key="ws-security.encryption.username" value="alice"/>
           <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
           <entry key="ws-security.is-bsp-compliant" value="false"/>
       </jaxws:properties> 
     
    </jaxws:endpoint>
    
</beans>
