<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:http="http://cxf.apache.org/transports/http/configuration"
    xmlns:httpj="http://cxf.apache.org/transports/http-jetty/configuration"
    xmlns:sec="http://cxf.apache.org/configuration/security"
    xmlns:cxf="http://cxf.apache.org/core"
    xmlns:p="http://cxf.apache.org/policy"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd http://cxf.apache.org/policy http://cxf.apache.org/schemas/policy.xsd http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd http://cxf.apache.org/transports/http-jetty/configuration http://cxf.apache.org/schemas/configuration/http-jetty.xsd http://cxf.apache.org/configuration/security http://cxf.apache.org/schemas/configuration/security.xsd">
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer"/>
    <cxf:bus>
        <cxf:features>
            <p:policies/>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>
    
    <bean id="allowUnsignedBearerAssertions" class="org.apache.wss4j.dom.validate.SamlAssertionValidator">
        <property name="requireBearerSignature" value="false" />
    </bean>
    <bean id="doubleItNoSecurity" class="org.apache.cxf.systest.wssec.examples.common.DoubleItPortTypeImpl">
        <property name="enforcePrincipal" value="false"/>
    </bean>
    
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="Bearer" address="http://localhost:${testutil.ports.saml.Server}/DoubleItSamlBearer" serviceName="s:DoubleItService" endpointName="s:DoubleItBearerPort" implementor="#doubleItNoSecurity" wsdlLocation="org/apache/cxf/systest/wssec/examples/saml/DoubleItSaml.wsdl">
        <jaxws:properties>
            <entry key="ws-security.saml1.validator" value-ref="allowUnsignedBearerAssertions"/>
       </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="TLSSenderVouches" address="https://localhost:${testutil.ports.saml.Server.2}/DoubleItSamlTLSSenderVouches" serviceName="s:DoubleItService" endpointName="s:DoubleItTLSSenderVouchesPort" implementor="org.apache.cxf.systest.wssec.examples.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/wssec/examples/saml/DoubleItSaml.wsdl" depends-on="tls-settings">
        <jaxws:properties>
       </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="TLSHOKSignedEndorsing" address="https://localhost:${testutil.ports.saml.Server.2}/DoubleItSamlTLSHOKSignedEndorsing" serviceName="s:DoubleItService" endpointName="s:DoubleItTLSHOKSignedEndorsingPort" implementor="org.apache.cxf.systest.wssec.examples.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/wssec/examples/saml/DoubleItSaml.wsdl" depends-on="tls-settings">
        <jaxws:properties>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="security.subject.cert.constraints" value=".*O=apache.org.*"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="AsymmetricSigned" address="http://localhost:${testutil.ports.saml.Server}/DoubleItSamlAsymmetricSigned" serviceName="s:DoubleItService" endpointName="s:DoubleItAsymmetricSignedPort" implementor="org.apache.cxf.systest.wssec.examples.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/wssec/examples/saml/DoubleItSaml.wsdl">
        <jaxws:properties>
            <entry key="security.callback-handler" value="org.apache.cxf.systest.wssec.examples.common.CommonPasswordCallback"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="security.encryption.username" value="useReqSigCert"/>
            <entry key="security.subject.cert.constraints" value=".*O=apache.org.*"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="AsymmetricInitiator" address="http://localhost:${testutil.ports.saml.Server}/DoubleItSamlAsymmetricInitiator" serviceName="s:DoubleItService" endpointName="s:DoubleItAsymmetricInitiatorPort" implementor="org.apache.cxf.systest.wssec.examples.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/wssec/examples/saml/DoubleItSaml.wsdl">
        <jaxws:properties>
            <entry key="security.callback-handler" value="org.apache.cxf.systest.wssec.examples.common.CommonPasswordCallback"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="security.encryption.username" value="useReqSigCert"/>
            <entry key="security.subject.cert.constraints" value=".*O=apache.org.*"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="AsymmetricSaml2Bearer" address="http://localhost:${testutil.ports.saml.Server}/DoubleItSamlAsymmetricSaml2Bearer" serviceName="s:DoubleItService" endpointName="s:DoubleItAsymmetricSaml2BearerPort" implementor="org.apache.cxf.systest.wssec.examples.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/wssec/examples/saml/DoubleItSaml.wsdl">
        <jaxws:properties>
            <entry key="security.callback-handler" value="org.apache.cxf.systest.wssec.examples.common.CommonPasswordCallback"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="security.encryption.username" value="useReqSigCert"/>
            <entry key="security.subject.cert.constraints" value=".*O=apache.org.*"/>
            <entry key="ws-security.saml2.validator" value-ref="allowUnsignedBearerAssertions"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="TLSSenderVouchesSaml2" address="https://localhost:${testutil.ports.saml.Server.2}/DoubleItSamlTLSSenderVouchesSaml2" serviceName="s:DoubleItService" endpointName="s:DoubleItTLSSenderVouchesSaml2Port" implementor="org.apache.cxf.systest.wssec.examples.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/wssec/examples/saml/DoubleItSaml.wsdl" depends-on="tls-settings">
        <jaxws:properties>
       </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="TLSHOKSignedEndorsingSaml2" address="https://localhost:${testutil.ports.saml.Server.2}/DoubleItSamlTLSHOKSignedEndorsingSaml2" serviceName="s:DoubleItService" endpointName="s:DoubleItTLSHOKSignedEndorsingSaml2Port" implementor="org.apache.cxf.systest.wssec.examples.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/wssec/examples/saml/DoubleItSaml.wsdl" depends-on="tls-settings">
        <jaxws:properties>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="security.subject.cert.constraints" value=".*O=apache.org.*"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="SymmetricSV" address="http://localhost:${testutil.ports.saml.Server}/DoubleItSamlSymmetricSV" serviceName="s:DoubleItService" endpointName="s:DoubleItSymmetricSVPort" implementor="org.apache.cxf.systest.wssec.examples.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/wssec/examples/saml/DoubleItSaml.wsdl">
        <jaxws:properties>
            <entry key="security.callback-handler" value="org.apache.cxf.systest.wssec.examples.common.CommonPasswordCallback"/>
            <!-- TODO Fix the way these properties are inverted -->
            <entry key="security.signature.username" value="bob"/>
            <entry key="security.encryption.properties" value="bob.properties"/>
            <entry key="security.signature.properties" value="alice.properties"/>
            <entry key="security.encryption.username" value="alice"/>
            <entry key="security.subject.cert.constraints" value=".*O=apache.org.*"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <jaxws:endpoint xmlns:s="http://www.example.org/contract/DoubleIt" id="SymmetricIssuedToken" address="http://localhost:${testutil.ports.saml.Server}/DoubleItSamlSymmetricIssuedToken" serviceName="s:DoubleItService" endpointName="s:DoubleItSymmetricIssuedTokenPort" implementor="org.apache.cxf.systest.wssec.examples.common.DoubleItPortTypeImpl" wsdlLocation="org/apache/cxf/systest/wssec/examples/saml/DoubleItSaml.wsdl">
        <jaxws:properties>
            <entry key="security.callback-handler" value="org.apache.cxf.systest.wssec.examples.common.CommonPasswordCallback"/>
            <entry key="security.signature.username" value="bob"/>
            <entry key="security.signature.properties" value="bob.properties"/>
            <entry key="security.subject.cert.constraints" value=".*O=apache.org.*"/>
        </jaxws:properties>
    </jaxws:endpoint>
    <!-- -->
    <!-- Any services listening on port ${testutil.ports.saml.Server} must use the following -->
    <!-- Transport Layer Security (TLS) settings -->
    <!-- -->
    <httpj:engine-factory id="tls-settings">
        <httpj:engine port="${testutil.ports.saml.Server.2}">
            <httpj:tlsServerParameters>
                <sec:keyManagers keyPassword="password">
                    <sec:keyStore type="jks" password="password" resource="keys/bob.jks"/>
                </sec:keyManagers>
                <sec:trustManagers>
                    <sec:keyStore type="jks" password="password" resource="keys/cxfca.jks"/>
                </sec:trustManagers>
                <sec:clientAuthentication want="true" required="true"/>
            </httpj:tlsServerParameters>
        </httpj:engine>
    </httpj:engine-factory>
</beans>